.brushColourProp{
	position: relative;
	width: 32px;
	height: 32px;
	background-image: url(./../../../images/checkered_pattern.png);
	background-size: cover;
	border-radius: 4px;
	cursor: pointer;
	border: 1px solid white;
}

.colourSquare{
	width: 30px;
	height: 30px;
	border-radius: 4px;
}

.brushSizeProp{
	width: 120px;
	height: 32px;
	
}